<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Django REST with React</title>
</head>
<body>
  Ginkgo Backend Coding Challenge<br>
  Single Page App (SPA)

<!-- <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe> << This was used when the POST form was pure HTML, rather than react https://stackoverflow.com/questions/25983603/how-to-submit-an-html-form-without-redirection -->

<div id="post_form">   <!-- See https://www.freecodecamp.org/news/html-form-input-type-and-submit-button-example/ -->

</div>

<hr>

<b>Query results will be rendered below:</b>
<div id="app"> 
    <!-- React will load here -->
</div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>  <!-- This abomination created by webpack -->
</html>
